html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body.light {
  --main-background: #dee3ec;
  --text: black;
  --card: #fff;
  --card-shadow: #aeb2b9;
  --reaction-background: #ffff;
  --reaction-panel-shadow: #aeb2b9;
  --accent: #27bf9d;
  color: var(--text);
  background-color: var(--main-background);
}

body.dark {
  --main-background: #1f2327;
  --text: #ffff;
  --card: #131517;
  --card-shadow: #3b3d406e;
  --reaction-background: #2b3136;
  --reaction-panel-shadow: transparent;
  --accent: #27bf9d;
  color: white;
}
